<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base::parent(~{::#content},${loggedInUser.name}, ~{::script})}"
>
  <head>
    <title th:text="${loggedInUser.name}+' | SCCM'">Profile Page</title>
  </head>
  <body>
    <div id="content">
      <div class="grid grid-cols-12">
        <div class="col-span-1"></div>
        <div class="col-span-12 md:col-span-10">
          <div
            class="card block bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-4"
          >
            <!-- GIF Banner -->
            <div>
              <img
                class="rounded-t-lg w-full h-60 object-cover"
                src="/images/Contact.gif"
                alt="Login Banner"
                loading="lazy"
                onerror="this.onerror=null; this.src='/images/Login_Background.jpg';"
              />
            </div>
            <!-- Message here -->
            <div th:replace="~{message::messageBox}"></div> 
            <div class="mt-2">
              <h5
                class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                Edit Contact
              </h5>
                <a
                  th:href="@{'/user/contacts'}"
                  class="text-blue-600 dark:text-blue-500 underline"
                  >View All Contacts</a
                >
            </div>
            <div>
              <!-- enctype="multipart/form-data" Allows the form to process images -->
              <form
                class="mt-2"
                th:action="@{'/user/contacts/update/'+${contactId}}"
                th:object="${contactForm}"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="flex flex-row justify-evenly">
                  <!-- Name  -->
                  <div class="mb-3 w-full pr-1">
                    <label
                      for="name"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Contact Name</label
                    >
                    <div class="flex">
                      <span
                        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                      >
                        <i class="fa-solid fa-user-astronaut h-4 w-4"></i>
                      </span>
                      <input
                        th:field="*{name}"
                        type="text"
                        class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Name"
                      />
                    </div>
                    <!-- Error if any -->
                    <p
                      th:if="${#fields.hasErrors('name')}"
                      id="filled_error_help"
                      class="mt-2 text-red-600 dark:text-red-400"
                    >
                      <span class="font-medium">Oh, snapp!</span>
                      <span th:errors="*{name}">Some error message.</span>
                    </p>
                  </div>
                  <!-- Email  -->
                  <div class="mb-3 w-full pl-1">
                    <label
                      for="email"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Email</label
                    >
                    <div class="flex">
                      <span
                        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                      >
                        <i class="fa-solid fa-envelope w-4 h-4"></i>
                      </span>
                      <input
                        th:field="*{email}"
                        type="email"
                        class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="email@sccm.com"
                      />
                    </div>
                    <!-- Error if any -->
                    <p
                      th:if="${#fields.hasErrors('email')}"
                      id="filled_error_help"
                      class="mt-2 text-red-600 dark:text-red-400"
                    >
                      <span class="font-medium">Oh, snapp!</span>
                      <span th:errors="*{email}">Some error message.</span>
                    </p>
                  </div>
                </div>
                <div class="flex flex-row justify-evenly">
                  <!-- Phone Number  -->
                  <div class="mb-3 w-full pr-1">
                    <label
                      for="phoneNumber"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Number</label
                    >
                    <div class="flex">
                      <span
                        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                      >
                        <i class="fa-solid fa-phone w-4 h-4"></i>
                      </span>
                      <input
                        th:field="*{phoneNumber}"
                        type="text"
                        class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="91999999999"
                      />
                    </div>
                    <!-- Error if any -->
                    <p
                      th:if="${#fields.hasErrors('phoneNumber')}"
                      id="filled_error_help"
                      class="mt-2 text-red-600 dark:text-red-400"
                    >
                      <span class="font-medium">Oh, snapp!</span>
                      <span th:errors="*{phoneNumber}">Some error message.</span>
                    </p>
                  </div>
                  <!-- Profile pic  -->
                  <div class="mb-3 w-full pl-1">
                    <label
                      for="contactImg"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Upload Profile Pic</label
                    >
                    <div class="flex">
                      <span
                        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                      >
                        <i class="fa-solid fa-upload w-4 h-4"></i>
                      </span>
                      <label
                        for="contactImg"
                        class="flex flex-col justify-center rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus-within:ring-blue-500 focus-within:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 border-dashed"
                      >
                        <p class="text-sm text-gray-500 dark:text-gray-400">
                          <span class="font-semibold">Click to upload</span>
                          or drag and drop
                        </p>
                        <input
                          th:field="*{contactImg}"
                          type="file"
                          class="hidden"
                          accept="image/*"
                        />
                      </label>
                      <!-- <img src="" id="upload_image_preview" alt="" class="h-6 w-6"> -->
                    </div>
                    <p
                      class="mt-1 text-xs text-gray-500 dark:text-gray-400 ml-12"
                    >
                      PNG, JPG, JPEG (MAX. 5MB)
                    </p>
                  </div>
                </div>
                <div class="flex flex-row justify-evenly">
                  <!-- address  -->
                  <div class="mb-3 w-full pr-1">
                    <label
                      for="address"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Address</label
                    >
                    <div class="flex">
                      <span
                        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                      >
                        <i class="fa-solid fa-location-dot h-4 w-4"></i>
                      </span>
                      <textarea
                        th:field="*{address}"
                        rows="4"
                        class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Write contacts address here..."
                      ></textarea>
                    </div>
                  </div>
                  <!-- description  -->
                  <div class="mb-3 w-full ml-1">
                    <label
                      for="description"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Description</label
                    >
                    <div class="flex">
                      <span
                        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                      >
                        <i class="fa-solid fa-comment h-4 w-4"></i>
                      </span>
                      <textarea
                        th:field="*{description}"
                        rows="4"
                        class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Write something about your contacts..."
                      ></textarea>
                    </div>
                  </div>
                </div>
                <label
                  for="name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Social Links</label
                >
                <div id="social-links" class="flex flex-row justify-evenly">
                  <!-- Website Link  -->
                  <div class="mb-3 w-full pr-1">
                    <label
                      for="websiteLink"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Website link</label
                    >
                    <div class="flex">
                      <span
                        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                      >
                        <i class="fa-solid fa-link h-4 w-4"></i>
                      </span>
                      <input
                        th:field="*{websiteLink}"
                        type="text"
                        class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="http://sccm.com"
                      />
                    </div>
                  </div>
                  <!-- LinkedIn  -->
                  <div class="mb-3 w-full pl-1">
                    <label
                      for="linkedInLink"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >linkedIn Profile link</label
                    >
                    <div class="flex">
                      <span
                        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                      >
                        <i class="fa-brands fa-linkedin-in w-4 h-4"></i>
                      </span>
                      <input
                        th:field="*{linkedInLink}"
                        type="text"
                        class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="http://linkedIn.com/contact"
                      />
                    </div>
                  </div>
                </div>
                <!-- if Fav  -->
                <div class="flex flex-row justify-evenly">
                  <div class="flex items-center ml-2 w-full">
                    <input
                      th:field="*{favorite}"
                      type="checkbox"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                      for="favorite"
                      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >Add this contact to
                      <span
                        class="text-blue-700 dark:text-blue-600 hover:underline"
                        >Favorite</span
                      >.</label
                    >
                  </div>
                  <div class="button-container w-full">
                    <button
                      type="submit"
                      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full"
                    >
                      Edit Contact
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      console.log("Hello from Add Contact Page");

      // Add some interactivity to the file upload
      const fileInput = document.getElementById("contactImg");
      const uploadLabel = fileInput.parentElement.querySelector("p");
      // const previewImage = document.getElementById('upload_image_preview');
      console.log(uploadLabel);

      fileInput.addEventListener("change", function (e) {
        if (e.target.files.length > 0) {
          const file = e.target.files[0];
          const fileName = file.name;
          uploadLabel.innerHTML = `
              <span class="font-semibold text-green-600">${fileName}</span> selected
          `;

        // let reader = new FileReader();
        // reader.onload = function () {
        //   console.log('Vedant');
        //   console.log(previewImage);
        //   previewImage.setAttribute("src", reader.result)
        // }

        // reader.readAsDataURL(file);

        }
      });
    </script>
  </body>
</html>
