<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
th:fragment="parent(content, title, script)"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'SCCM : ' + ${title}">SCCM</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/SCCM_Logo.png" />
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- By writing our CSS at the end it overrides certain parts of Flowbite  -->
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/>
</head>
<body class="h-screen w-full bg-gray-100 dark:bg-gray-900 dark:text-white">
    <!-- Common header -->
    <div th:replace="~{navbar :: navbar}"></div>

    <div>
        <section th:replace="${content}"></section>
    </div>
    

    <footer>This is Footer</footer>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script th:replace="${script}"></script>
    <script th:src="@{'/js/script.js'}"></script>
</body>
</html>