<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            margin: auto;
            width: 50%;
            padding: 30px;
            background: #e2e2e2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 data-th-text="${name}">
            <!-- Welcome to home page -->
        </h1>
        <p>
           Hello This is demo Lorem Text - <br/><span th:text="${paragraph}"></span> 
        </p>
        <p>Refernce Link - </p>
        <a th:href="${link}">Youtube Link</a>
    </div> 
</body>
</html>