<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},'Home Page', ~{::script})}">
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <div id="content">
            <h1>Home Page</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque deleniti ipsam harum consequuntur ut voluptatem? Earum, delectus, praesentium distinctio, repellat nihil rerum accusamus ipsa at nobis amet ipsum repudiandae soluta! Quibusdam, unde delectus. Exercitationem molestiae delectus quas molestias quisquam neque quibusdam fuga voluptates sequi. Adipisci obcaecati delectus fugiat totam a?</p>
        </div>
        <script>console.log("Hello from Home")</script>
    </body>
</html>